*{
    margin:0;
}

body{
    margin:0px;
    padding:0px;
    
}



.container{
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin:10px;
    padding:20px;
}

.container thead{
    background-color: rgba(12  139 105);
    color:white;
}

th{
    color:white
}

.container tr{
    margin-bottom: 3px;
    font-family:Arial, Helvetica, sans-serif;
   font-weight:100;
   color:black;
}


.button-wrapper{
    display: flex;
    justify-content: center;
}

.button-wrapper button{
    margin:10px;
    width:50px; 
    padding:10px;
    height:30px;
    background-color:rgb(12, 139, 105);
    border-radius: 5px;
    border:none;
    color:white;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
}

/* .headRow{
    width:100px;
} */